.header-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
  color: #706f6f;
}
.time-date {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.baking-news {
  background: #f3f3f3;
  padding: 16px;
}
.news-highlight {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #403f3f;
}
.btn-login{
    background: #403F3F;
}