.q-zone {
  background: #f3f3f3;
  padding: 15px;
}
.q-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #403f3f;
}

@media screen and (max-width: 767px) {
  .q-title {
    text-align: center;
  }
}
